@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,800italic,800,700);
.dg-container{
	width: 100%;
	height: 450px;
	position: relative;
}
.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 482px;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url(../images/browser.png) no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}

.row h2.protect_title {
	font-family: raleway,sans-serif;
letter-spacing: 0.5px;
margin: 10px auto 0px;
text-align: center;
text-shadow: 0 0 0 rgba(1, 1, 21, 0.5);
text-transform: uppercase;
}
.row p.protect_title{
	color: #666;
font-size: 17px;
font-weight: normal;
margin: 5px auto 50px;
}

.single_service{font-family: "Raleway",sans-serif;
max-height: 204px ;
margin-bottom: 30px;
}


.single_item_info{
	 position:relative;
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px rgba(111, 148, 123, 0.48);
	padding: 15px 10px 70px;
}
.single_item_hover_info{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	opacity:0;
	transition: .5s;
	transform: scaleX(.5);
}
.single_item_hover_info:hover{
	background-color: rgba(111, 148, 123, 0.60);
bottom: 30px;
left: 15px;
margin: auto;
position: absolute;
right: 15px;
top: 0;
opacity:1;
transform: scaleX(1);
}
.single_item_hover_info:after{}
.single_item_info i, .single_item_hover_info i{
	background-color: #6F947B;
	border-radius: 50%;
	font-size: 22px;
	color: #fff;
	height: 70px;
	line-height: 70px;
	text-align: center;
	width: 70px;
}
.single_item_hover_info i{
	margin-top:15px;
	color: #F17518;
	background-color: #ddd;
	
	
}
.single_item_hover_info a.add {
	font-size:15px;
	line-height:25px;
	color: #fff;
	transition: .5s;
	
}
.single_item_hover_info a.add:hover{
	color: #F17518;
	background-color:#ddd;
	padding:2px 10px;
	text-align:center;
}
.single_item_info a, .single_item_hover_info a{
	text-decoration:none; color:#333;transition: .5s;}
.single_item_info a:hover , .single_item_hover_info a:hover{
	text-decoration:none; color:#F17518;}
.single_item_info h2 , .single_item_hover_info h2{
	font-size: 20px; 
font-weight: 600;

text-transform: uppercase;
letter-spacing: .5px;
margin-top: 15px;
text-align: center;}



/*inner page CSS*/

.wrapper{background-color: transparent;
border: 1px solid #fff;
border-radius: 6px 6px 0 0 ;
box-shadow: 0 0 0 1px rgba(111, 149, 123, 0.6);
font-family: raleway,sans-serif;
margin: 0 auto;
overflow: hidden;
padding-bottom: 30px;
width: 768px;}
.wrapper h2{background-color: rgba(255, 255, 255, 0.75);
font-size: 22px;
font-weight: 400;
line-height: 38px;
margin-top: 0;
margin-bottom: 20px;}
.btn-primary {
	background-color: #6e937a;
	border-color: #6e936d;
	color: #fff;
}
.wrapper a.page_link{float: right;
	margin-bottom: 10px;
	position: relative;
	right: 40px;
	text-decoration: none;
	margin-top: -10px;
	margin-left: 6px;
}
.wrapper a.page_link:hover{}
.wrapper form label{font-size: 16px;
font-weight: 400;}

.wrapper form input[type=text]{
	width:250px;
}
.wrapper form input[type=email]{
	width:250px;
}
.wrapper .table_wrap{
margin: 0 auto;
width: 90%;
}
.wrapper .table_wrap .bold_item{
font-weight:500;
}
