*{margin:0; padding:0;}
.form{
    background: #ddd none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #999;
    display: block;
    margin: 100px auto;
    padding: 50px;
    width: 500px;
}
.wrapper{
    border: 1px solid #fff;
    border-radius: 7px;
padding-bottom: 30px;
}
.middle{
    display: block;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
width: 460px;
}
h3{
background: #fff none repeat scroll 0 0;
border-radius: 6px 6px 0 0;
color: #999;
font-size: 16px;
font-weight: normal;
margin-bottom: 21px;
padding: 5px 15px;
text-align: center;
text-transform: uppercase;
width: 468px;
}
p{
    color: #777;
display: inline-block;
font-size: 18px;
font-weight: normal;
}
input[type=text]{
    border: 1px solid #999;
border-radius: 4px;
color: #999;
font-weight: bold;
height: 25px;
padding: 3px 9px;
width: 250px;
}
input[type=submit]{
    background: #fff none repeat scroll 0 0;
border: 1px solid #999;
border-radius: 4px;
cursor: pointer;
font-size: 12px;
font-weight: bold;
height: 33px;
letter-spacing: 1px;
width: 88px;
color:#666;
transition: all .5s ease 0s;
}
input[type=submit]:hover{
    background:#ddd;
    border: 1px solid #fff;
}
.middle table{
    background: #fff none repeat scroll 0 0;
border: 1px solid #999;
border-radius: 4px;
padding: 20px;
width: 462px;
}
.middle table tr{
    
}
.middle table tr th{
    -moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #BBB;
border-image: none;
border-style: solid none;
border-width: 1px medium;
padding: 3px;
text-align: center;
color: #666;
text-align: center;
text-transform: uppercase;
font-size: 12px;
padding: 5px;
}
.middle table tr td{
border-bottom: 1px solid #bbb;
color: #666;
padding-bottom: 6px;
text-align: center;
padding: 8px;
}
.middle table tr:last-child{
    border-bottom: none;
}
.middle table tr td a{
background: #fff none repeat scroll 0 0;
border: 0.5px solid #bbb;
border-radius: 2px;
color: #666;
font-size: 10px;
letter-spacing: 1px;
padding: 2px 16px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
transition: all 0.5s ease 0s;
}
.middle table tr td a:hover{
    background:#ddd;
    border: .5px solid #999;
}